/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use './../../assets/sass/vars' as *;
@use './assets/sass/cards';

.wp-block-dahlia-blocks-post-grid {
	.post-grid-carousel-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 25px;

		@media(min-width: $screen-lg) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		h1,
		h2,
		h3,
		h4 {
			margin: 0;
			font-size: 1.875rem;
			font-style: normal;
			font-weight: 700;
			line-height: 2.125rem;
			transform: translateY(4px);
			/* Ajusta según necesites */
			/* 113.333% */
		}
	}

	.tns-controls {
		display: flex;
		position: relative;
		z-index: 10;
		gap: 12px;

		>.button {}
	}

	.tns-outer {
		position: relative;


		.tns-nav {
			z-index: 10;
		}

		>.tns-ovh {
			>.tns-inner {}
		}
	}

}

.outer-container-carousel {
	position: relative;
	overflow: hidden;
	width: 100%;

	&:after {

		position: absolute;
		height: 100%;
		width: 12%;
		bottom: 0;
		left: 0;
		background: linear-gradient(90deg, rgba(250, 250, 250, 0.74) 0%, rgba(250, 250, 250, 0) 100%);
		z-index: 1;
	}

	&:before {

		position: absolute;
		height: 100%;
		width: 12%;
		bottom: 0;
		right: 0;
		background: linear-gradient(-90deg, rgba(250, 250, 250, 0.74) 0%, rgba(250, 250, 250, 0) 100%);
		z-index: 1;
	}

	@media(min-width: $screen-lg) {
		&:after {
			content: '';
		}

		&:before {
			content: '';
		}
	}

	.tns-outer {
		>.tns-ovh {
			overflow: visible;
		}
	}
}

.wrapper-grid {
	@media(max-width:$screen-xl) {
		overflow: hidden;
	}
}

.post-grid.post-grid-grid {
	--grid-gap-lg: 30px;
	--grid-gap-sm: 15px;
	display: grid;
	gap: var(--grid-gap-sm);

	@media(min-width:$screen-xl) {
		padding: 0;
		gap: var(--grid-gap-lg);

		&:not(.row-items-lg-1) {
			margin-right: 0;
		}
	}

	&.row-items-sm {
		&-1 {
			grid-template-columns: 1fr;
		}

		&-2 {
			grid-template-columns: 1fr 1fr;
		}

		&-3 {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&-4 {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		&-5 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}

		&-6 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}

		&-7 {

			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media(min-width:$screen-lg) {
		&.row-items-lg {
			&-1 {
				grid-template-columns: 1fr;
			}

			&-2 {
				grid-template-columns: 1fr 1fr;
			}

			&-3 {
				grid-template-columns: 1fr 1fr 1fr;
			}

			&-4 {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

			&-5 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}

			&-6 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			}

			&-7 {

				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}
	}
}