/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dahlia-blocks-story-container {
    position: relative;
	transition: all 0.2s ease-in-out;
    &.font-size-0 p {
        font-size: 20px;
    }
    
    &.font-size-1 p {
        font-size: 25px;
    }
    
    &.font-size-2 p {
        font-size: 30px;
    }
    
    &.font-size-3 p {
        font-size: 35px;
    }
}

.story-container-controls {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.story-container-controls {
    font-family: var(--wp--preset--font-family--lexend) !important;
    line-height:normal;

}

.story-container-controls button:hover {
    background-color: #ddd;
}

.story-block-font{
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 1.7;
}

