@use './../../../assets/sass/vars' as *;

.wp-block-dahlia-blocks-category-grid.is-style-category-grid-soft-background {
    .category-grid {
        &__container {
            gap: var(--grid-gap-sm, 1.3rem);
            @media(min-width:$screen-lg) {
                gap: var(--grid-gap-lg, 2rem);
            }
        }
    }

    .category-card {

        &__outer {}

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            gap: 15px;
            padding: 1.5rem 1rem;
            background-color: $primary-01;
            border-radius: 16px;
            overflow: hidden;
            background-color: $primary-01;

            @media(min-width:$screen-lg) {
                padding: 2rem 1.5rem;
            }




            .card-icon {
                &__outer {}

                &__container {
                    .dahlia-icon {
                        background-color: $primary-06;
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }

        &__content {
            z-index: 10;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.13;

            a {
                color: $primary-06;
                font-weight: 700;

            }
        }
    }

    .is-card-size {

        &-medium {
            .category-card__container {
                padding: 2rem 1rem;
                min-height: 160px;

                @media(min-width:$screen-lg) {
                    padding: 2rem 1.5rem;
                    min-height: 200px;
                }

                .dahlia-icon {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }

            .category-card__content {
                font-size: 1.3rem;
                @media(min-width:$screen-lg) {
                font-size: 1.5rem;
                }
            }
        }

        &-large {
            .category-card__container {
                padding: 2.5rem 2rem;
                min-height: 270px;

                .card-icon__outer {
                    padding: 15px
                }

                .dahlia-icon {

                    width: 4rem;
                    height: 4rem;

                }
            }

            .category-card__content {
                font-size: 1.875rem;


            }

        }
    }
}